@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-clr: #2F2F2F;

    --nav-txt-clr: #f5f5f7;

    --txt-clr: white;
    --link-txt-clr: #258cdb;
    
    --card-title-clr: white;
    --card-subtitle-clr: #bab8b8;
    --card-subtitle-font-size: 14px;
}

* {
    font-family: 'Poppins', sans-serif !important;
}

body {
    margin-left: 135px;
    margin-right: 135px;
    min-width: 460px;
    background-color: var(--bg-clr);
    color: var(--txt-clr);
}

.color-white {
    color: white !important;
}

.flex_direction-column {
    flex-direction: column;
}

.font_size-15px {
    font-size: 15px !important;
}

.margin_top-10px {
    margin-top: 10px !important;
}

.margin_top-30px {
    margin-top: 30px !important;
}

.text_align-center {
    text-align: center !important;
}

.text_align-left {
    text-align: left !important;
}

.width-125px {
    width: 125px !important;
}

a {
    color: var(--link-txt-clr) !important;
    text-decoration: none;
}

.title {
    font-size: 21px;
    margin-bottom: -30px;
    color: var(--card-title-clr);
}

.subtitle {
    font-size: var(--card-subtitle-font-size);
    color: var(--card-subtitle-clr);
}

@media only screen and (max-width: 900px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 510px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }

    main {
        margin-left: 10px;
    }
}

#main {
    display: flex;
    justify-content: center;
}

/* Nav */

#about-me {
    text-align: -webkit-center;
}

#about-me-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 555px;
    font-size: 16px;
    line-height: 1.5;
}

#about-me-top {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

#about-me-top-inner {
    display: inline-flex; 
    align-items: center; 
    margin-top: -20px;
}

#about-me-logo {
    width: 50px;
    height: 50px;
    border-radius: 200px;
    margin-right: 15px;
}

#about-me-name {
    font-size: 19px;
    font-weight: 700;
}

/* #about-me-job {
    font-size: 33px;
    font-weight: 700;
    margin-top: 10px;
} */

#loadedNav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-clr);
    padding-top: 0px;
    padding-bottom: 0.7px;
}

#about-me {
    position: static;
}

#nav {
    margin-bottom: 20px;
    /* background-color: rgb(141, 138, 138); */
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
}

#nav-links {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.nav-link {
    margin-right: 10px;
    /* border-top: 1px solid rgb(166, 161, 161); 
    border-right: 1px solid rgb(166, 161, 161); 
    border-left: 1px solid rgb(166, 161, 161); */
    border-radius: 15px;
    padding: 7.5px;
    text-decoration: none;
    color: var(--nav-txt-clr) !important;
    opacity: 0.8;
    font-size: 14px;
    transition: ease-in-out 0.3s;
    /* font-weight: 650; */
}

.nav-link:hover, .nav-link:focus {
    /* background-color: white; */
    color: var(--link-txt-clr) !important;
    opacity: 1;
}

.nav-link-active {
    font-weight: bold;
    opacity: 1;
}

.nav-link-active.hover, .nav-link-active:focus {
    background-color: transparent;
    color: white;
}

/* Cards */

#cards {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card {
    margin-right: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
}

.card img {
    border-radius: 5px;
    float: left;
    width: 200px;
    height: max-content;
}

.card-right {
    float: right;
    margin-left: 20px;
}

/* Certificate */

#certificate-main {
    max-width: 100%;
}

#certificates {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.certificate {
    width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    display: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    overflow: scroll;
}

#img-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 800px;
}

#prompt-outer {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: scroll;
}

#prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: black;
    padding: 30px;
    border-radius: 30px;
}

#prompt > div > button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    bottom: 0;
    margin-bottom: 0px;
    margin-bottom: -10px;
}

/* Scroll Bar */

/* Bar */
::-webkit-scrollbar {
    width: 15px;
    border: 2px solid blue;
}

/* Path End Arrows
::-webkit-scrollbar-button:single-button {
    color: var(--txt-clr);
    height: 16px;
    width: 16px;
} */

/* Scrollable Handle */
::-webkit-scrollbar-thumb {
    background: rgb(155, 155, 155);
    border-radius: 200px;
}

/* ::-webkit-scrollbar-track but where the bar is not present */
::-webkit-scrollbar-track {
    background: var(--bg-clr);
    border: none;
}

/* Where Horizontal and Vertical Meet */
::-webkit-scrollbar-corner{
    background: var(--bg-clr);
    display: none;
}

/* Resizer
::-webkit-resizer {
    background: black;
} */